<html>
<head>
    <title>터치다운 CMS</title>
    <link rel="stylesheet" href="http://cms.touch-down.co.kr/html/css/admin.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://cms.touch-down.co.kr/html/css/uploadify.css" />
    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery.uploadify.js"></script>
    <link rel="stylesheet" href="http://cms.touch-down.co.kr/html/css/admin.css" type="text/css" />
    <script src="http://cms.touch-down.co.kr/html/js/placeholders.min.js"></script>

    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery-validation-1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery-validation-1.15.0/additional-methods.min.js"></script>
    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery-validation-1.15.0/messages_ko.min.js"></script>

    <SCRIPT LANGUAGE="JavaScript">
        <!--

        $(function(){
            $("#mainForm").validate({
                rules: {
                    name: {
                        required:true,
                        minlength:3
                    },
                    regno: {
                        required:true,
                        minlength:10
                    }
                },
                messages: {
                    name: "회사명을 3글자 이상 입력하세요",
                    regno: {
                        required: "사업자등록번호는 입력하세요",
                        minlength: "사업자등록번호 10자리를 입력하세요"
                    }
                }
            });
        });
        //-->
    </SCRIPT>

    <!--script type="text/javascript">
        (function($){
            $(document).ready(function(){
                $("input, textarea").placeholder();
            });
        })(jquery);
    </script>
    <script type="text/javascript">
        $(function(){
            $(".gnb li").hover(function(){
                $('p',this).stop().slideDown("");
            }, function(){
                $('p',this).stop().slideUp("");
            });
        });
    </script-->
    <script type = "text/javascript">

        function formSubmit(){
            //return document.mainForm.submit();
            if (!$("#mainForm").validate()) {
                return false;
            } else {
                $("#mainForm").submit();
            }
        }

    </script>
</head>
<body>
<div id="wrap" style="min-width: 500px;">
    <!-- 본문 시작 -->
    <div id="container" class="af_clear" style="min-width: 500px;">	<!-- 왼쪽 메뉴 시작 -->
        <!--div class="left-area">
            <h2>과정관리</h2>
            <ul>
                <li><a href="#." class="on">과정등록</a></li>
                <li><a href="#.">과정개설</a></li>
                <li><a href="#.">문제은행</a></li>
                <li><a href="#.">설문지은행</a></li>
                <li><a href="#.">지자체코드관리</a></li>
            </ul>
        </div-->
        <!-- 왼쪽 메뉴 끝 -->
        <!-- 오른쪽 컨텐츠 시작 -->
        <div class="right-area" style="margin-left:0px;">
            <form method="POST" action="/srv/<%=objname%>/insert_popup" name = "mainForm"  id="mainForm">
                <h3>광고 등록</h3>
                <div class="btn-write">
                    <a href="javascript:formSubmit();" class="btn-blue">저장</a>
                    <!-- <input type="submit" value="저장"  class="btn-green"/> -->
                    <a href="javascript:history.back();" class="btn-blue">리스트</a>
                </div>

                <h4>정보 입력</h4>

                <table class="table-basic td-al th-al td-pd10" summary="광고주등록">

                    <caption>랩사 등록</caption>
                    <colgroup>
                        <col width="30%"/>
                        <col width="70%"/>
                    </colgroup>
                    <tr>
                        <th>랩사명</th>
                        <td !colspan="2"><input type="text" class="input-default w100p" name="name" id="name" /></td>
                    </tr>
                    <tr>
                        <th>사업자등록번호</th>
                        <td !colspan="2"><input type="text" class="input-default w100p" name="regno" id="regno" /></td>
                    </tr>
                    <tr>
                        <th>글쓴이</th>
                        <td !colspan="2"><input type="text" class="input-default w150" name="uobjnm" id="uobjnm" value="<%=uobjnm%>"/></td>
                        <input type="hidden" name="uobjid" id="uobjid" value="<%=uobjid%>"/>
                    </tr>
                </table>
            </form>
        </div> <!-- right content-->
    </div> <!-- container -->
</div>  <!-- wrap -->
</body>
</html>
