<%


%>
<div class="left-area">
    <%
    if(objname == "admin")
    {
    %>
    <h2>계정관리</h2>
    <ul>
        <li><a href="/srv/admin/list/0/1/" <% if (objname == "admin") { %> class="on" <% } %>>CMS회원</a></li>
    </ul>
    <%
    }
    else if(objname == "advertise" || objname == "advertiser" || objname == "representative")
    {
    %>
    <h2>광고관리</h2>
    <ul>
        <li><a href="/srv/advertise/list/0/1/" <% if (objname == "advertise") { %> class="on" <% } %>>광고검색</a></li>
        <li><a href="/srv/advertiser/list/0/1/" <% if (objname == "advertiser") { %> class="on" <% } %>>광고주검색</a></li>
        <li><a href="/srv/representative/list/0/1/" <% if (objname == "representative") { %> class="on" <% } %>>랩사검색</a></li>
    </ul>
    <%
    }
    else if(objname == "user" || objname == "board" || objname == "inquire")
    {
    %>
    <h2>고객관리</h2>
    <ul>
        <li><a href="/srv/user/list/0/1/" <% if (objname == "user") { %> class="on" <% } %>>고객검색</a></li>
        <li><a href="/srv/board/list/0/1/" <% if (objname == "board") { %> class="on" <% } %>>게시판관리</a></li>
        <li><a href="/srv/inquire/list/0/1/" <% if (objname == "inquire") { %> class="on" <% } %>>고객문의</a></li>
    </ul>
    <%
    }
    else if(objname == "card" || objname == "bincode")
    {
    %>
    <h2>카드관리</h2>
    <ul>
        <li><a href="/srv/card/list/0/1/" <% if (objname == "card") { %> class="on" <% } %>>카드관리</a></li>
        <li><a href="/srv/bincode/list/0/1/" <% if (objname == "bincode") { %> class="on" <% } %>>BIN데이터관리</a></li>
    </ul>
    <%
    }
    else if(objname == "uselog" || objname == "lbslog")
    {
    %>
    <h2>로그관리</h2>
    <ul>
        <li><a href="/srv/uselog/list/0/1/" <% if (objname == "uselog") { %> class="on" <% } %>>사용로그</a></li>
        <li><a href="/srv/lbslog/list/0/1/" <% if (objname == "lbslogs") { %> class="on" <% } %>>위치정보로그</a></li>
        <li><a href="/srv/lbslog/list/0/1/" <% if (objname == "lbslog") { %> class="on" <% } %>>트래킹로그</a></li>
        <!--li><a href="#" >적립로그</a></li-->
    </ul>
    <%
    }else{
     %>
    <h2>관리메뉴</h2>
    <ul>
        <li><a href="#." class="on">사랑하나</a></li>
        <li><a href="#.">사랑둘</a></li>
        <li><a href="#.">사랑셋</a></li>
        <li><a href="#.">사랑넷</a></li>
        <li><a href="#.">사랑다섯</a></li>
    </ul>
    <%
    }
    %>


</div>