<div class="left-area">
    <h2>과정관리</h2>
    <ul>
        <li><a href="#." class="on">사랑하나</a></li>
        <li><a href="#.">사랑둘</a></li>
        <li><a href="#.">사랑셋</a></li>
        <li><a href="#.">사랑넷</a></li>
        <li><a href="#.">사랑다섯</a></li>
    </ul>
</div>