<!-- 해더 시작 -->
<div id="header">
    <h1><img src="http://cms.mobile1.kr/html/img/admin-logo.jpg" alt="민방위 사이버 교육"></h1>
    <div class="admin-c-top af_clear">
        <a href="/srv/user/logout"><img src="http://cms.mobile1.kr/html/img/admin-logout.gif" alt="로그아웃"></a>
        <a href="#."><img src="http://cms.mobile1.kr/html/img/admin-sitehome.gif" alt="사이트홈"></a>
    </div>

    <!-- 관리자 글로벌메뉴 시작 -->

    <div class="admin-gnb">

        <ul class="gnb af_clear">
            <li>
                <a href="/srv/admin/list/0/1/">계정관리</a>
                <!--
                <p style="display: none; height: 140px; padding-top: 10px; margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px;">
                    <a href="#.">과정등록</a>
                    <a href="#.">과정개설</a>
                    <a href="#.">문제은행</a>
                    <a href="#.">설문지은행</a>
                    <a href="#.">지자체코드관리</a>
                </p>
                -->
            </li>
            <li>
                <a href="/srv/advertise/list/0/1/">광고관리</a>
                <!--
                <p style="display: none; height: 84px; padding-top: 10px; margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px;">
                    <a href="#.">단체수강신청</a>
                    <a href="#.">학습진행 및 수료관리</a>
                    <a href="#.">과정별 선문결과</a>
                </p>
                -->
            </li>
            <li>
                <a href="/srv/advertise/list/0/1/">광고정보</a>
                <!--
                <p style="display: none; height: 112px; padding-top: 10px; margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px;">
                    <a href="#.">미처리문의정보</a>
                    <a href="#.">Q&amp;A관리</a>
                    <a href="#.">전화상담관리</a>
                    <a href="#.">온라인상담관리</a>
                </p>
                -->
            </li>
            <li>
                <a href="/srv/uselog/list/0/1/">사용로그</a>
                <!--
                <p style="display: none; height: 28px; padding-top: 10px; margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px;">
                    <a href="#.">SMS관리</a>
                </p>
                -->
            </li>
            <li>
                <a href="/srv/board/list/0/1/">설정정보</a>
                <!--
                <p style="display: none; height: 56px; padding-top: 10px; margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px;">
                    <a href="#.">접속현황</a>
                    <a href="#.">소속대별 진행현황</a>
                </p>
                -->
            </li>
            <li>
                <a href="/srv/version/list/0/1/">버전정보</a>
                <!--
                <p style="display: none; height: 56px; padding-top: 10px; margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px;">
                    <a href="#.">접속현황</a>
                    <a href="#.">소속대별 진행현황</a>
                </p>
                -->
            </li>
            <li>
                <a href="/srv/apinfo/list/1/가능">AP 관리</a>
                <!--
                <p style="display: none; height: 56px; padding-top: 10px; margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px;">
                    <a href="#.">접속현황</a>
                    <a href="#.">소속대별 진행현황</a>
                </p>
                -->
            </li>

        </ul>


    </div>

    <!-- 관리자 글로벌메뉴 끝 -->
</div>
<!-- 해더 끝 -->